convert/notebook/toHtml.test.html
convert/threejs/toThreejsPage.test.html
algorithm/cgal/CGAL-*
algorithm/cgal/Eigen*
algorithm/cgal/cgal*
algorithm/cgal/emsdk*
algorithm/cgal/glm*
algorithm/cgal/gmp*
algorithm/cgal/mpfr*
algorithm/cgal/manifold*
algorithm/cgal/eigen*
algorithm/threejs/*
dist
js-angusj-clipperjs-web
molecule-full-expected.js
molecule-full-observed.js
molecule-expected.js
es6
cache
local
docs
jsxcad
**/*.md
**/*.html
