body {
  overflow: hidden;
}

div.notebook {
}

.note {
  border: 1px dashed dodgerblue;
  margin: 4px 4px;
  padding: 4px 4px;
}

.note.log {
  font-family: 'Arial Black', Gadget, sans-serif;
  color: blue;
}

.note.error {
  font-family: 'Arial Black', Gadget, sans-serif;
  color: red;
}

.note.view {
}

img.note.view {
  border: 1px dashed dodgerblue;
  margin: 4px 4px;
  padding: 4px 4px;
}

.note.orbitView {
  width: 100%;
  height: 100%;
}

button.note.download {
  border: 2px solid black;
  border-radius: 5px;
  margin: 4px 4px;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  border-color: #2196f3;
  color: dodgerblue;
}

button.note.download:hover {
  background: #2196f3;
  color: white;
}

button.note.print {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  margin: 4px 4px;
  padding: 10px 24px;
  height: 21px;
  font-size: 16px;
  cursor: pointer;
  border-color: #2196f3;
  color: dodgerblue;
}

button.note.print:hover {
  background: #2196f3;
  color: white;
}

.note th,
td {
  border: 1px solid dodgerblue;
  padding: 5px;
}

.ace_string {
  color: #002852 !important;
}

div.ace_lineWidgetContainer {
  background-color: #ffffec;
}

.progress-marker {
  position: absolute;
  background-color: #c4fff7;
}
